<div class="aboutme">
    <h2 class="hometitle">关于我</h2>
    <div class="avatar"> <img src="/users-imgs/<%= myself.img%>"> </div>
    <div class="ab_con">
        <p>网名：
            <%= myself.onlinename%>
        </p>
        <p>职业：
            <%= myself.profess%>
        </p>
        <p>个人微信：
            <%= myself.wechatNumber%>
        </p>
        <p>邮箱：
            <%= myself.email%>
        </p>
    </div>
</div>