<!DOCTYPE html>
<html lang="en">

<%-include('header.ejs')-%>

    <body>
      <%-include('header-list.ejs')-%>
    <article>
      <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">留言</a></h1>
      <div class="ab_box">
        <div class="leftbox">
          <div class="newsview">
            <div class="news_infos">
              
                <% notice.forEach(function (stu,i){%>
                  <li style="background-color: rgb(234, 250, 238)">
                      <h3 class="blogtitle"><a href="https://www.27270.com/ent/meinvtupian/">
                          <%= stu.title %></a><h5>(发布于：<%=stu.time%>)</h5></h3>
                      <div class="bloginfo">
                          <p><%= stu.content %>
                          </p>
                      </div>
                  
                  </li>
                  <% }) %>

            </div>
          </div>
        </div>
        <div class="rightbox">
            <%-include('about-me.ejs')-%>
          <div class="weixin">
            <h2 class="hometitle">微信关注</h2>
            <ul>
              <img src="images/wx.jpg">
            </ul>
          </div>
        </div>
      </div>
    </article>
    <footer>
      <p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
    </footer>
    </body>
    </html>
    