<!DOCTYPE html>
<html lang="en">
<%-include('header.ejs')-%>

<body>
    <%-include('header-list.ejs')-%>
    <div class="container">
        <div class="login alert alert-<%=tips%>" role="alert">
            <p>
                <%= msg %>，<span id="times">2</span>秒后跳转到<a href="<%= nextPageUrl %>">
                    <%= nextPageName %></a></p>
        </div>
    </div>

</body>
<script>

    //下面是定时跳转的实现
    var timer = -1;
    function clock() {
        var time = parseInt($('#times').text());
        time--
        $('#times').text(time);
        if (time == 0) {
            clearInterval(timer);
            window.location.href = "<%= nextPageUrl %>";
        }
    }
    timer = setInterval(clock, 1000);

</script>


</html>